<nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white nav-login">
    <div class="container">
      <a class="navbar-brand smooth-goto" href="/#"><span><img id="logo-img" src="{{'NAVBAR.LOGO'| translate}}"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link smooth-goto" href="#slider-area" >{{ "MAIN.NAVBAR.ITEM.HOME" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-goto" href="#services">{{ "MAIN.NAVBAR.ITEM.SERVICES" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-goto" href="#features">{{ "MAIN.NAVBAR.ITEM.FEATURES" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-goto" href="#team">{{ "MAIN.NAVBAR.ITEM.TEAM" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smooth-goto" href="/aboutus">{{ "MAIN.NAVBAR.ITEM.ABOUTUS" | translate }}</a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link smooth-goto" href="#pricing">{{ "MAIN.NAVBAR.ITEM.PRICING" | translate }}</a>-->
          <!--</li>-->

          <!--<li class="nav-item">-->
            <!--<a class="nav-link smooth-goto" href="#blog">{{ "MAIN.NAVBAR.ITEM.BLOG" | translate }}</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link smooth-goto" href="#contact">{{ "MAIN.NAVBAR.ITEM.CONTACT" | translate }}</a>
          </li>

        </ul>              
      </div>
    </div>
  </nav>
