<section id="contact" class="section">      
    <div class="contact-form">
      <div class="container">
        <div class="section-header">
          <app-sectiontitle
            mainTitle="{{ 'CONTACT.TITLE' | translate }}"
            subTitle="{{ 'CONTACT.SUBTITLE' | translate }}"
            description="{{ 'CONTACT.TEXT' | translate }}"></app-sectiontitle>
        </div>
        <div class="row">          
          <div class="col-lg-9 col-md-9 col-xs-12">
            <div class="contact-block">
              <form [formGroup]="contactForm" (ngSubmit)="contact(contactForm.value)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" class="form-control" id="name" name="name" placeholder="{{ 'CONTACT.PLACEHOLDER.NAME' | translate }}" required data-error="Please enter your name" formControlName="naam">
                      <div class="help-block with-errors"></div>
                    </div>                                 
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input type="text" placeholder="{{ 'CONTACT.PLACEHOLDER.EMAIL' | translate }}" id="email" class="form-control" name="name" required data-error="Please enter your email" formControlName="email">
                      <div class="help-block with-errors"></div>
                    </div> 
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" placeholder="{{ 'CONTACT.PLACEHOLDER.SUBJECT' | translate }}" id="msg_subject" class="form-control" required data-error="Please enter your subject" formControlName="onderwerp">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group"> 
                      <textarea class="form-control" id="message" placeholder="{{ 'CONTACT.PLACEHOLDER.MESSAGE' | translate }}" rows="7" data-error="Write your message" required formControlName="bericht"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="submit-button">
                      <button class="btn btn-common btn-effect" id="submit" type="submit">{{ 'CONTACT.BUTTON' | translate }}</button>
<!--                      <div id="msgSubmit" class="h3 hidden"></div>-->
<!--                      <div class="clearfix"></div> -->
                    </div>
                  </div>
                </div>            
              </form>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-xs-12">
            <div class="contact-deatils">
              <!-- Content Info -->
              <div class="contact-info_area">
                <div class="contact-info">
                  <i class="lni-map"></i>
                  <h5>{{ 'CONTACT.PLACEHOLDER.LOCATION' | translate }}</h5>
                  <p>{{ 'CONTACT.ADDRESS' | translate }}</p>
                  <p>{{ 'CONTACT.ADDRESS2' | translate }}</p>
                </div>
                <!-- Content Info -->
                <div class="contact-info">
                  <i class="lni-star"></i>
                  <h5>{{ 'CONTACT.PLACEHOLDER.EMAIL' | translate }}</h5>
                  <p>{{ 'CONTACT.EMAIL' | translate }}</p>
                </div>
                <!-- Content Info -->
                <div class="contact-info">
                  <i class="lni-phone"></i>
                  <h5>{{ 'CONTACT.PLACEHOLDER.PHONE' | translate }}</h5>
                  <p>{{ 'CONTACT.PHONE' | translate }}</p>
                </div>
                <!-- Icon -->
                <ul class="footer-social">
                  <li><a class="facebook" href="{{ 'SOCIAL.FACEBOOK.HANDLE' | translate }}" target="_blank"><i class="lni-facebook-filled"></i></a></li>
                  <li><a class="twitter" href="{{ 'SOCIAL.TWITTER.HANDLE' | translate }}" target="_blank"><i class="lni-twitter-filled"></i></a></li>
                  <li><a class="linkedin" href="{{ 'SOCIAL.LINKEDIN.HANDLE' | translate }}" target="_blank"><i class="lni-linkedin-filled"></i></a></li>
                  <li><a class="instagram" href="{{ 'SOCIAL.INSTAGRAM.HANDLE' | translate }}" target="_blank"><i class="lni-instagram-filled"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>            
  </section>
