.blog-button{
  display: flex;
  justify-content: center;
  width:100px;
}

/* ==========================================================================
    Blog
    ========================================================================== */
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}

#blog .blog-item-wrapper:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#blog .blog-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
}

#blog .blog-item-img {
  position: relative;
}

#blog .blog-item-img img {
  width: 100%;
  border-radius: 4px;
}

#blog .blog-item-text {
  padding: 20px 30px;
}

#blog .blog-item-text .date {
  font-size: 14px;
  margin-bottom: 10px;
}

#blog .blog-item-text .date i {
  margin-right: 7px;
}

#blog .blog-item-text h3 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#blog .blog-item-text h3 a {
  color: #263238;
}

#blog .blog-item-text h3 a:hover {
  color: #273bba;
}

.meta-tags {
  margin-bottom: 10px;
}

.meta-tags span {
  color: #999;
  font-size: 14px;
  margin-right: 10px;
}

.meta-tags span i {
  margin-right: 5px;
}

.meta-tags span a {
  color: #999;
}

.meta-tags span a:hover {
  color: #273bba;
}
