<section id="blog" class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">{{ 'BLOG.TITLE' | translate }}</h2>
        <span>{{ "BLOG.SUBTITLE" | translate }}</span>
        <p class="section-subtitle">{{ "BLOG.TEXT" | translate }}</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="../../../assets/img/blog/img1.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
              <h3><a href="single-post.html">10 Tips to Design a High-converting Landing Page</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                <span><a href="#"><i class="lni-reply"></i> 332</a></span>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
  
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="../../../assets/img/blog/img2.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
              <h3><a href="single-post.html">How to Design a Website For Your App</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                <span><a href="#"><i class="lni-reply"></i> 332</a></span>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
  
        <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
          <!-- Blog Item Starts -->
          <div class="blog-item-wrapper">
            <div class="blog-item-img">
              <a href="single-post.html">
                <img src="../../../assets/img/blog/img3.jpg" alt="">
              </a>                
            </div>
            <div class="blog-item-text"> 
              <div class="date"><i class="lni-calendar"></i>10 April, 2018</div>
              <h3><a href="single-post.html">7 Secretes to Optimize Loading Speed of Your Site</a></h3>
              <div class="meta-tags">
                <span><a href="#"><i class="lni-eye"></i> 4.5k Views</a></span>
                <span><a href="#"><i class="lni-bubble"></i> 07</a></span>
                <span><a href="#"><i class="lni-reply"></i> 332</a></span>
              </div>
            </div>
          </div>
          <!-- Blog Item Wrapper Ends-->
        </div>
      </div>
      <a routerLink="/blog" class="btn btn-common btn-effect blog-button">All Blogs</a>
    </div>
</section>
