<section id="features" class="section">
    <div class="container">
      <div class="section-header">          
      <app-sectiontitle
        mainTitle = "{{ 'FEATURES.TITLE' | translate }}"
        subTitle = "{{ 'FEATURES.SUBTITLE' | translate }}"
        description= "{{ 'FEATURES.DESCRIPTION' | translate }}">
        </app-sectiontitle>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="featured-box" >
            <div class="featured-icon">
              <i class="{{ 'FEATURES.FEATURE1.ICON' | translate }}"></i>
            </div>
            <div class="featured-content">
              <div class="icon-o"><i class="lni-layout"></i></div>
              <h4>{{ 'FEATURES.FEATURE1.TITLE' | translate }}</h4>
              <p>{{ 'FEATURES.FEATURE1.TEXT' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE1.TEXT2' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE1.TEXT3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-icon">
            <i class="{{ 'FEATURES.FEATURE2.ICON' | translate }}"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-layout"></i></div>
            <h4>{{ 'FEATURES.FEATURE2.TITLE' | translate }}</h4>
            <p>{{ 'FEATURES.FEATURE2.TEXT' | translate }}</p>
            <p>{{ 'FEATURES.FEATURE2.TEXT2' | translate }}</p>
            <p>{{ 'FEATURES.FEATURE2.TEXT3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-icon">
              <i class="{{ 'FEATURES.FEATURE3.ICON' | translate }}"></i>
            </div>
            <div class="featured-content">
              <div class="icon-o"><i class="lni-layout"></i></div>
              <h4>{{ 'FEATURES.FEATURE3.TITLE' | translate }}</h4>
              <p>{{ 'FEATURES.FEATURE3.TEXT' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE3.TEXT2' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE3.TEXT3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-icon">
              <i class="{{ 'FEATURES.FEATURE4.ICON' | translate }}"></i>
            </div>
            <div class="featured-content">
              <div class="icon-o"><i class="lni-layout"></i></div>
              <h4>{{ 'FEATURES.FEATURE4.TITLE' | translate }}</h4>
              <p>{{ 'FEATURES.FEATURE4.TEXT' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE4.TEXT2' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE4.TEXT3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-icon">
              <i class="{{ 'FEATURES.FEATURE5.ICON' | translate }}"></i>
            </div>
            <div class="featured-content">
              <div class="icon-o"><i class="lni-layout"></i></div>
              <h4>{{ 'FEATURES.FEATURE5.TITLE' | translate }}</h4>
              <p>{{ 'FEATURES.FEATURE5.TEXT' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE5.TEXT2' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE5.TEXT3' | translate }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12">
          <div class="featured-box">
            <div class="featured-icon">
              <i class="{{ 'FEATURES.FEATURE6.ICON' | translate }}"></i>
            </div>
            <div class="featured-content">
              <div class="icon-o"><i class="lni-layout"></i></div>
              <h4>{{ 'FEATURES.FEATURE6.TITLE' | translate }}</h4>
              <p>{{ 'FEATURES.FEATURE6.TEXT' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE6.TEXT2' | translate }}</p>
              <p>{{ 'FEATURES.FEATURE6.TEXT3' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
