
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* ==========================================================================
   1. IMPORT GOOGLE FONTS
   ========================================================================== */
   @import url("https://fonts.googleapis.com/css?family=Montserrat:500,700|Open+Sans");
   /* ==========================================================================
      2. GENERAL
      ========================================================================== */
   body {
     font-family: 'Open Sans', sans-serif;
     color: #546E7A;
     font-size: 14px;
     font-weight: 400;
     background: #fff;
     overflow-x: hidden;
   }
   html {
     overflow-x: hidden;
     scroll-behavior:  smooth ;
   }

   p {
     font-size: 14px;
     color: #546E7A;
     line-height: 26px;
     font-family: 'Open Sans', sans-serif;
     margin-bottom: 0;
   }

   a:hover, a:focus {
     color: #273bba;
   }

   a {
     color: #273bba;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
   }

   h1, h2, h3, h4, h5 {
     font-family: 'Montserrat', sans-serif;
     font-size: 40px;
     font-weight: 700;
     color: #263238;
   }

   ul {
     margin: 0;
     padding: 0;
   }

   /*i{*/
   /*  color:#5e2491 !important;*/
   /*}*/

  .featured-box .featured-icon i{
    color:#5e2491 !important;
  }

  .section-header .section-title{
    color:#5e2491 !important;

  }

   ul li {
     list-style: none;
   }

   a:hover,
   a:focus {
     text-decoration: none;
     outline: none;
   }

   a:not([href]):not([tabindex]) {
     color: #fff;
   }

   a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
     color: #fff;
   }

   .bg-transparent {
     background: transparent !important;
   }

   .bg-default {
     background: #273bba !important;
   }

   /* ==========================================================================
      2.1 Section Title
      ========================================================================== */
   .section {
     padding: 80px 0;
   }

   .section-header {
     color: #fff;
     margin-bottom: 40px;
     text-align: center;
     position: relative;
   }

   .section-header .section-title {
     font-size: 36px;
     margin-bottom: 20px;
     text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     color: #263238;
     position: relative;
   }

   .section-header .section-title:before {
     content: '';
     position: absolute;
     bottom: -8px;
     width: 80px;
     height: 2px;
     background: #5e2491;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     transition: 0.3s;
   }

   .section-header span {
     font-size: 60px;
     color: rgba(0, 0, 0, 0.07);
     z-index: 2;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     text-transform: capitalize;
     position: absolute;
     top: 7px;
     left: 0;
     width: 100%;
   }

   /* ==========================================================================
      2.2 Buttons
      ========================================================================== */

    .btn-success{
      background: #5e2491 !important;
      border-color:white !important;
    }
   .btn {
     font-size: 14px;
     padding: 10px 30px;
     border-radius: 30px;
     font-weight: 400;
     color: #fff;
     text-transform: uppercase;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     display: inline-block;
   }

   .btn:focus,
   .btn:active {
     box-shadow: none;
     outline: none;
     color: #fff;
   }

   .btn-common {
     background-color: #5e2491!important;
     position: relative;
     z-index: 1;
     padding: 12px 32px;
     border-radius: 30px;
   }

   .btn-common:hover {
     color: #fff;
   }

   .btn-effect {
     overflow: hidden;
   }

   .btn-effect:after {
     content: '';
     position: absolute;
     width: 0;
     height: 100%;
     z-index: 1;
     left: 0;
     top: 0;
     background: rgba(0, 0, 0, 0.1);
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     transition: all 0.3s ease;
   }

   .btn-effect:hover:after {
     width: 100%;
   }

   .btn-border {
     border-style: solid;
     border-width: 2px;
     cursor: pointer;
     background-color: transparent;
     border-color: #fff;
     color: #fff;
   }

   .btn-border:hover {
     color: #ffffff;
     background-color: #273bba;
   }

   .btn-lg {
     padding: 14px 33px;
     text-transform: uppercase;
     font-size: 16px;
   }

   .btn-rm {
     padding: 7px 10px;
     text-transform: capitalize;
   }

   button:focus {
     outline: none !important;
   }

   .clear {
     clear: both;
   }

   /* ==========================================================================
      2.3 Social Iocns
      ========================================================================== */
   .social-icons {
     margin-bottom: 20px;
   }

   .social-icons ul {
     margin: 0;
     padding: 0;
     list-style: none;
   }

   .social-icons ul li {
     display: inline;
   }

   .social-icons ul li a {
     display: inline-block;
     margin-left: 5px;
     margin-right: 5px;
     margin-bottom: 15px;
     border-radius: 4px;
     border: 1px solid rgba(255, 254, 254, 0.07);
     line-height: 40px;
     width: 40px;
     height: 40px;
     text-align: center;
     font-size: 16px;
   }

   .social-icons ul li a:hover {
     color: #fff;
   }

   .facebook a {
     color: #4867AA !important;
   }

   .facebook a:hover {
     background: #4867AA !important;
   }

   .twitter a {
     color: #1DA1F2 !important;
   }

   .twitter a:hover {
     background: #1DA1F2 !important;
   }

   .linkedin a {
     color: #007BB6;
   }

   .linkedin a:hover {
     background: #007BB6;
   }

   .lni-instagram-filled a {
     background:#5e2491 !important;
   }

  .lni-instagram-filled a:hover {
    background: #007BB6;
  }



