<div id="clients" class="section">
    <!-- Container Ends -->
    <div class="container">
      <!-- Row and Scroller Wrapper Starts -->
      <div class="row" id="clients-scroller">
        <div class="client-item-wrapper">
          <img src="/src/assets/img/clients/img1.png" alt="">
        </div>
        <div class="client-item-wrapper">
          <img src="/src/assets/img/clients/img2.png" alt="">
        </div>
        <div class="client-item-wrapper">
          <img src="/src/assets/img/clients/img3.png" alt="">
        </div>
        <div class="client-item-wrapper">
          <img src="/src/assets/img/clients/img4.png" alt="">
        </div>
        <div class="client-item-wrapper">
          <img src="/src/assets/img/clients/img5.png" alt="">
        </div>
        <div class="client-item-wrapper">
          <img src="/src/assets/img/clients/img6.png" alt="">
        </div>
      </div>
    </div>
  </div>
