
/* ==========================================================================
   Clients
   ========================================================================== */
#clients {
  background: #f9f9f9;
}

#clients .client-item-wrapper {
  text-align: center;
  margin: 0 5px;
  -moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

#clients #clients-scroller img:hover {
  -moz-transition: all .6s ease;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  opacity: 1.0;
}

#clients #clients-scroller .owl-pagination {
  display: none;
}

