<section class="section">
    <!-- Container Starts -->
    <div class="container">
      <div class="section-header">
        <app-sectiontitle
          mainTitle="Portfolio"
          subTitle="Our Portfolio"
          description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos debitis."></app-sectiontitle>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Portfolio Controller/Buttons -->
          <div class="controls text-center">
            <a class="filter active btn btn-common btn-effect" data-filter="all">
              All
            </a>
            <a class="filter btn btn-common btn-effect" data-filter=".design">
              Design
            </a>
            <a class="filter btn btn-common btn-effect" data-filter=".development">
              Development
            </a>
            <a class="filter btn btn-common btn-effect" data-filter=".print">
              Print
            </a>
          </div>
          <!-- Portfolio Controller/Buttons Ends-->
        </div>
      </div>

      <!-- Portfolio Recent Projects -->
      <div id="portfolios" class="row">
        <div class="col-lg-4 col-md-6 col-xs-12 mix development print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="../../../assets/img/portfolio/img-1.jpg" alt="" />
              <div class="single-content">
                <div class="fancy-table">
                  <div class="table-cell">
                    <div class="zoom-icon">
                      <a class="lightbox" href="../../../assets/img/portfolio/img-1.jpg"><i class="lni-zoom-in item-icon"></i></a>
                    </div>
                    <a href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix design print">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="../../../assets/img/portfolio/img-2.jpg" alt="" />
              <div class="single-content">
                <div class="fancy-table">
                  <div class="table-cell">
                    <div class="zoom-icon">
                      <a class="lightbox" href="../../../assets/img/portfolio/img-2.jpg"><i class="lni-zoom-in item-icon"></i></a>
                    </div>
                    <a href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix development">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="../../../assets/img/portfolio/img-3.jpg" alt="" />
              <div class="single-content">
                <div class="fancy-table">
                  <div class="table-cell">
                    <div class="zoom-icon">
                      <a class="lightbox" href="../../../assets/img/portfolio/img-3.jpg"><i class="lni-zoom-in item-icon"></i></a>
                    </div>
                    <a href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix development design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="../../../assets/img/portfolio/img-4.jpg" alt="" />
              <div class="single-content">
                <div class="fancy-table">
                  <div class="table-cell">
                    <div class="zoom-icon">
                      <a class="lightbox" href="../../../assets/img/portfolio/img-4.jpg"><i class="lni-zoom-in item-icon"></i></a>
                    </div>
                    <a href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix development">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="../../../assets/img/portfolio/img-5.jpg" alt="" />
              <div class="single-content">
                <div class="fancy-table">
                  <div class="table-cell">
                    <div class="zoom-icon">
                      <a class="lightbox" href="../../../assets/img/portfolio/img-5.jpg"><i class="lni-zoom-in item-icon"></i></a>
                    </div>
                    <a href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix print design">
          <div class="portfolio-item">
            <div class="shot-item">
              <img src="../../../assets/img/portfolio/img-6.jpg" alt="" />
              <div class="single-content">
                <div class="fancy-table">
                  <div class="table-cell">
                    <div class="zoom-icon">
                      <a class="lightbox" href="../../../assets/img/portfolio/img-6.jpg"><i class="lni-zoom-in item-icon"></i></a>
                    </div>
                    <a href="#">View Project</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container Ends -->
  </section>
