<section class="call-action section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <div class="cta-trial text-center">
            <h3>{{ 'CALLTOACTION.TITLE' | translate }}</h3>
            <p>{{ 'CALLTOACTION.TEXT' | translate }}</p>
            <a routerLink="standardpage" class="btn btn-common btn-effect">{{ 'CALLTOACTION.BUTTON' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
