
<section id="services" class="section">
    <div class="container">
      <app-sectiontitle
        mainTitle = "{{ 'SERVICES.TITLE' | translate }}"
        subTitle= "{{ 'SERVICES.SUBTITLE' | translate }}"
        description="{{ 'SERVICES.TEXT' | translate }}">
      </app-sectiontitle>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-xs-12" (click)= "openDialog(1)" >
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.2s" >
            <div class="icon color-1">
              <i class="{{ 'SERVICES.SERVICE1.ICON' | translate }}"></i>
            </div>
            <h4>{{ 'SERVICES.SERVICE1.TITLE' | translate }}</h4>
            <p>{{ 'SERVICES.SERVICE1.TEXT' | translate }}</p>
            <button type="submit" class="btn btn-success"> Login</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12" (click)="openDialog(2)">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.4s">
            <div class="icon color-2">
              <i class="{{ 'SERVICES.SERVICE2.ICON' | translate }}"></i>
            </div>
            <h4>{{ 'SERVICES.SERVICE2.TITLE' | translate }}</h4>
            <p>{{ 'SERVICES.SERVICE2.TEXT' | translate }}</p>
            <button type="submit" class="btn btn-success"> Login</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12"  (click)="openDialog(3)">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon color-3">
              <i class="{{ 'SERVICES.SERVICE3.ICON' | translate }}"></i>
            </div>
            <h4>{{ 'SERVICES.SERVICE3.TITLE' | translate }}</h4>
            <p>{{ 'SERVICES.SERVICE3.TEXT' | translate }}</p>
            <button type="submit" class="btn btn-success"> Login</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12"  (click)="openDialog(4)">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="0.8s">
            <div class="icon color-4">
              <i class="{{ 'SERVICES.SERVICE4.ICON' | translate }}"></i>
            </div>
            <h4>{{ 'SERVICES.SERVICE4.TITLE' | translate }}</h4>
            <p>{{ 'SERVICES.SERVICE4.TEXT' | translate }}</p>
            <button type="submit" class="btn btn-success"> Login</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12"  (click)="openDialog(5)">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="1s">
            <div class="icon color-5">
              <i class="{{ 'SERVICES.SERVICE4.ICON' | translate }}"></i>
            </div>
            <h4>{{ 'SERVICES.SERVICE5.TITLE' | translate }}</h4>
            <p>{{ 'SERVICES.SERVICE5.TEXT' | translate }}</p>
            <button type="submit" class="btn btn-success"> Login</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12"  (click)="openDialog(6)">
          <div class="item-boxes services-item wow fadeInDown" data-wow-delay="1.2s">
            <div class="icon color-6">
              <i class="{{ 'SERVICES.SERVICE6.ICON' | translate }}"></i>
            </div>
            <h4>{{ 'SERVICES.SERVICE6.TITLE' | translate }}</h4>
            <p>{{ 'SERVICES.SERVICE6.TEXT' | translate }}</p>
            <button type="submit" class="btn btn-success"> Login</button>
          </div>
        </div>
      </div>
    </div>
  </section>
