button{
  margin-top:20px;
  margin-bottom:10px;
}


.item-boxes{
  width: 100%;
  object-fit: cover;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;

}

.item-boxes:hover{
  background:url(../../../assets/img/download.jpeg);

  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* ==========================================================================
   Portfolio Section
   ========================================================================== */
#portfolios {
  background: #f9f9f9;
}

#portfolios .mix {
  padding: 0px;
}

#portfolios .portfolio-item {
  padding: 10px;
}

#portfolio .mix {
  display: none;
}

.controls {
  text-align: center;
  padding: 0px 0px 20px;
}

.controls .active {
  color: #273bba !important;
  border-color: #273bba;
  background: transparent;
}

.controls .btn {
  text-transform: uppercase;
  margin: 2px;
}

.controls:hover {
  color: #fff;
  cursor: pointer;
}

.shot-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.shot-item img {
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 4000ms;
  -o-transition-duration: 4000ms;
  transition-duration: 4000ms;
}

.shot-item .single-content {
  background-color: rgba(22, 26, 39, 0.7);
  opacity: 0.90;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  width: 100%;
}

.shot-item .single-content .fancy-table {
  display: table;
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.shot-item .single-content .fancy-table .table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.shot-item .single-content .zoom-icon a {
  color: #fff;
  font-size: 30px;
  margin-bottom: 15px;
}

.shot-item .single-content a {
  color: #fff;
  font-size: 16px;
}

.shot-item:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.shot-item:hover .single-content {
  opacity: 0.8;
}

/* Services Item */
.item-boxes {
  padding: 30px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  margin: 15px 0;
  webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item-boxes .icon {
  margin-bottom: 10px;
}

.item-boxes .icon i {
  font-size: 30px;
  line-height: 60px;
  color: #273bba;
}

.item-boxes h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.item-boxes p {
  margin: 0;
}

/*.item-boxes:hover {*/
/*  background: transparent;*/
/*  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);*/
/*}*/

.services-item {
  padding: 30px 15px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item .icon {
  margin-bottom: 20px;
}

.services-item .icon i {
  width: 60px;
  height: 60px;
  background: #f9f9f9;
  display: inline-block;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.services-item .color-1 i {
  background: #FAE3E3;
  color: #D82928 !important;
}

.services-item .color-2 i {
  background: #E6F8ED;
  color: #57D283 !important;
}

.services-item .color-3 i {
  background: #E3EAFA;
  color: #457BF4 !important;
}

.services-item .color-4 i {
  background: #F3EAD6;
  color: #f1a90a !important;
}

.services-item .color-5 i {
  background: #E7E6FF;
  color: #7271FF !important;
}

.services-item .color-6 i {
  background: #DEDEDE;
  color: #35393D !important;
}

.services-item .services-content {
  padding-left: 65px;
}

.services-item .services-content h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}

.services-item .services-content h3 a {
  color: #272727;
}

.services-item .services-content h3 a:hover {
  color: #273bba;
}

.services-item:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.services-item:hover .icon i {
  background: transparent;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.featured-bg {
  background: #fafafa;
}

.featured-bg .intro-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.featured-bg .title-sub {
  font-size: 22px;
  margin-bottom: 15px;
  line-height: 36px;
}

.featured-bg .intro-desc {
  margin-bottom: 20px;
}

.featured-bg .featured-item {
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.featured-bg .featured-item .icon {
  float: left;
  padding-right: 15px;
}

.featured-bg .featured-item .icon i {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
  color: #273bba;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.featured-bg .featured-item h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}

.featured-bg .featured-item h3 a {
  color: #272727;
}

.featured-bg .featured-item h3 a:hover {
  color: #273bba;
}
