.col-md-12 {
  align-content: center !important;
}
.container-fluid {
  max-width:100%;
}

.photo {
  /*bottom: 50%;*/
  /*transform: translateY(-50%);*/
}
.title{
  background:yellow;
}
.subtitle{
  background:yellowgreen;
}

.list{
  background: #e74c3c;
}

li {
  font-size: 1em;
  margin: 0.5em;
  margin-left: 3em;

}

li:before {
  font-size: 1em;
  content: '\f006';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
  color: #0074D9;
}
.row{
  background: green;
}
.col-md-6{
  padding: 10px;
  background: #b1b593;
}

img {
  max-width: 100%;
}
