<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2 class="title" *ngIf="data.title !== null" mat-dialog-title>{{data.title}}</h2>
        <h6 class="subtitle" *ngIf="data.subTitle !== null">{{data.subTitle}}</h6>
        <ul class="list" *ngIf="data.bullets !== null">
          <li class="" *ngFor="let bullet of data.bullets" >{{bullet}}</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div>
          <p *ngIf="data.description !== null">{{data.description}}</p>
        </div>
        <div>
          <img class="photo" src="{{data.photo}}" >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-dialog-actions align="center">
          <a routerLink="{{data.link}}" ><button matDialogClose class="btn btn-md btn-common btn-effect">{{ 'POPUP.BUTTON1' | translate }}</button></a>
        </mat-dialog-actions>
      </div>
    </div>
  </div>
