<div class="container-fluid">
  <div class="col-md-12">
    <img
  </div>
  <div class="row">
    <div class="col-md-6">
      standard
    </div>
    <div class="col-md-6">
      page
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      bla
    </div>
    <div class="col-md-6">
      bla
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      bla
    </div>
  </div>
</div>
