.container-fluid{
  align-content: center;

  padding-bottom:100px;
  padding-top:100px;
}

.col-md-6{
  max-width: 45%;
  padding:10px;
  margin:10px;
  background:green;
}
.col-md-12{
  max-width: 90%;
  padding:10px;
  background:yellow;
}
