@media (max-width: 992px) {
  .social a{
    font-size:4em;
    padding:2rem;
  }
}
@media (max-width: 768px) {
  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }
}
.social a {
  font-size: 4.5em;
  padding:3rem;
}
@media (max-width: 576px) {
  .social a {
    font-size: 2em;
    padding: .7rem;
  }
}
.lni-facebook-filled{
color: #3b5998;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.lni-twitter-filled{
  color: #1CA1F2;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.lni-google-plus{
  color: #DD4B39;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}

.lni-instagram{
  color: #FCAF45;
  background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
  background-size: 55%;
  background-position: 70% 0;
  background-repeat: no-repeat;
}






