<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-12">
      <h2>{{ 'SOCIAL.TITLE' | translate }}</h2>
    </div>
    <div class="col-12 social padding">
      <a href= "{{ 'SOCIAL.FACEBOOK.HANDLE' | translate }}" target='_blank'> <i class="fab lni-facebook-filled"></i></a>
      <a href= "{{ 'SOCIAL.INSTAGRAM.HANDLE' | translate }}"  target='_blank'><i class="fab lni-instagram"></i></a>
      <a href= "{{ 'SOCIAL.TWITTER.HANDLE' | translate }}"  target='_blank'><i class="fab lni-twitter-filled"></i></a>
-    </div>
  </div>
  <hr class="my-4">
</div>
