<div id="pricing" class="section pricing-section">
    <div class="container">
      <div class="section-header">
        <app-sectiontitle
          mainTitle="{{ 'PRICING.TITLE' | translate }}"
          subTitle="{{ 'PRICING.SUBTITLE' | translate }}"
          description="{{ 'PRICING.DESCRIPTION' | translate }}"></app-sectiontitle>
      </div>
  
      <div class="row pricing-tables">
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="pricing-table">
            <div class="pricing-details">
              <h2>{{ 'PRICING.PLAN1.NAME' | translate }}</h2>
              <div class="price">{{ 'PRICING.PLAN1.PRICE' | translate }}<span>{{ 'PRICING.PLAN1.PER' | translate }}</span></div>
              <ul>
                <li>{{ 'PRICING.PLAN1.LINE1' | translate }}</li>
                <li>{{ 'PRICING.PLAN1.LINE2' | translate }}</li>
                <li>{{ 'PRICING.PLAN1.LINE3' | translate }}</li>
                <li>{{ 'PRICING.PLAN1.LINE4' | translate }}</li>
                <li> - </li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common btn-effect">{{ 'PRICING.PLAN1.BUTTON' | translate }}</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="pricing-table pricing-big">
            <div class="pricing-details">
              <h2>{{ 'PRICING.PLAN2.NAME' | translate }}</h2>
              <div class="price">{{ 'PRICING.PLAN2.PRICE' | translate }}<span>{{ 'PRICING.PLAN2.PER' | translate }}</span></div>
              <ul>
                <li>{{ 'PRICING.PLAN2.LINE1' | translate }}</li>
                <li>{{ 'PRICING.PLAN2.LINE2' | translate }}</li>
                <li>{{ 'PRICING.PLAN2.LINE3' | translate }}</li>
                <li>{{ 'PRICING.PLAN2.LINE4' | translate }}</li>
                <li>{{ 'PRICING.PLAN2.LINE5' | translate }}</li>
                <li>{{ 'PRICING.PLAN2.LINE6' | translate }}</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common btn-effect">{{ 'PRICING.PLAN2.BUTTON' | translate }}</a>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-4 col-xs-12">
          <div class="pricing-table">
            <div class="pricing-details">
              <h2>{{ 'PRICING.PLAN3.NAME' | translate }}</h2>
              <div class="price">{{ 'PRICING.PLAN3.PRICE' | translate }}<span>{{ 'PRICING.PLAN3.PER' | translate }}</span></div>
              <ul>
                <li>{{ 'PRICING.PLAN3.LINE1' | translate }}</li>
                <li>{{ 'PRICING.PLAN3.LINE2' | translate }}</li>
                <li>{{ 'PRICING.PLAN3.LINE3' | translate }}</li>
                <li>{{ 'PRICING.PLAN3.LINE4' | translate }}</li>
                <li>{{ 'PRICING.PLAN3.LINE5' | translate }}</li>
                <li>{{ 'PRICING.PLAN3.LINE6' | translate }}</li>
              </ul>
            </div>
            <div class="plan-button">
              <a href="#" class="btn btn-common btn-effect">{{ 'PRICING.PLAN3.BUTTON' | translate }}</a>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
