/* ==========================================================================
    Pricing Table
    ========================================================================== */
.pricing-table {
  padding: 20px 0px 0px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid #eaeaea;
  text-align: center;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.15);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 30px;
}

.pricing-table:hover {
  box-shadow: 0px 10px 50px 0px rgba(84, 110, 122, 0.35);
}

.pricing-table .pricing-details h2 {
  font-size: 18px;
  color: #546E7A;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}

.pricing-table .pricing-details .price {
  color: #263238;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  background-color: #fff !important;
  border-bottom: 1px solid #e9edf2;
  padding-bottom: 40px;
}

.pricing-table .pricing-details .price span {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #A2A2A2;
}

.pricing-table .pricing-details ul li {
  padding: 12px;
  font-size: 14px;
}

.pricing-table .pricing-details ul li:nth-child(even) {
  background-color: #f9f9f9;
}

.pricing-table .plan-button {
  padding: 30px 0;
  background: #f9f9f9;
}

.pricing-big {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  -moz-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
