<!-- Main Carousel Section -->
<app-carousel></app-carousel>

<app-services></app-services>

<!-- Call to Action -->
<app-calltoaction></app-calltoaction>

<!-- Features Section Start -->
<app-featuresection></app-featuresection>

<!-- Start Video promo Section -->
<app-videopromotion></app-videopromotion>

<!--&lt;!&ndash; Portfolio Section &ndash;&gt;-->
<!--<app-portfolio></app-portfolio>-->

<!-- Team section Start -->
<app-team></app-team>

<!-- Start Pricing Table Section -->
<!--<app-pricing></app-pricing>-->

<!-- Counter Section Start -->
<!--<app-counter></app-counter>-->

<!-- Testimonial Section Start -->
<!--<app-testimonials></app-testimonials>-->

<!-- Subcribe Section Start -->
<!--<app-subscribe></app-subscribe>-->

<!-- Blog Section -->
<!--<app-blog></app-blog>-->

<!-- Clients Section -->
<!--<app-clients></app-clients>-->

<!-- Contact Section Start -->
<app-contact></app-contact>

<!-- Map Section Start -->
<app-map></app-map>

<!--Social Start-->
<app-social></app-social>
