<footer>
  <div class="container-fluid padding">
    <div class="row text-center">
      <div class="col-md-4">
        <hr class="light">

        <img id="footer-logo" src="{{ 'FOOTER.LOGO' | translate }}" >
        <hr class="light">
        <p>{{ 'FOOTER.PHONE' | translate }}</p>
        <p>{{ 'FOOTER.PHONENUMBER' | translate }}</p>
        <p>{{ 'FOOTER.ADRES1' | translate }}</p>
        <p>{{ 'FOOTER.ADRES2' | translate }}</p>
        <p>{{ 'FOOTER.ADRES3' | translate }}</p>
      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>{{ 'FOOTER.OPENINGTIMES' | translate }}</h5>
        <hr class="light">
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME1' | translate }}</p>
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME2' | translate }}</p>
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME3' | translate }}</p>
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME4' | translate }}</p>
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME5' | translate }}</p>
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME6' | translate }}</p>
        <p>{{ 'FOOTER.OPENINGTIMES.DAYTIME7' | translate }}</p>


      </div>
      <div class="col-md-4">
        <hr class="light">
        <h5>{{'FOOTER.COLUMN3.TITLE'| translate}}</h5>
        <hr class="light">
        <p>{{'FOOTER.COLUMN3.TITLE'| translate}}</p>
        <p>{{'FOOTER.COLUMN3.TITLE'| translate}}</p>
        <p>{{'FOOTER.COLUMN3.TITLE'| translate}}</p>
      </div>
      <div class="col-12">
        <hr class="light-100">
        <h5>{{'FOOTER.BOTTOM.WEBSITE'| translate}}</h5>
      </div>
    </div>
  </div>
</footer>
