footer{
  background-color: #3f3f3f;
  color:#d5d5d5;
  padding-top:2rem;
}
footer a{
  color:#d5d5d5;
}
h5{
  color:white;
}
p{
  color:white;
}
#footer-logo{
  width:57px;
  height:58px;
}
hr.light{
  border-top:1px solid #d5d5d5;
  width: 75%;
  margin-top:.8rem;
  margin-bottom: 1rem;
}


/* ==========================================================================
    Footer Style
    ========================================================================== */
.block-title {
  font-size: 14px;
  font-weight: 500;
  color: #263238;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

footer .footer-Content {
  background-color: #ffffff;
  padding: 60px 0;
  color: #546E7A;
}

.textwidget {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

.textwidget p {
  color: #546E7A;
}

footer .menu {
  padding-left: 0;
}

footer .menu li {
  padding-bottom: 12px;
}

footer .menu li a {
  color: #546E7A;
}

footer .menu li a:hover {
  color: #273bba;
}

.contact-footer {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.contact-footer li {
  padding: 3px 0;
  margin-bottom: 15px;
}

.contact-footer li strong {
  float: left;
}

.contact-footer li span {
  margin-left: 73px;
  display: block;
}

.contact-footer li span a {
  color: #546E7A;
}

.contact-footer li span a:hover {
  color: #273bba;
}

.instagram-footer {
  padding: 0;
}

.instagram-footer li {
  display: block;
  width: 33%;
  float: left;
  padding: 0 5px 5px 0;
  margin: 0;
}

.instagram-footer li a img {
  width: 100%;
}

.footer-social li {
  display: inline-block;
  margin-right: 12px;
}

.footer-social li a {
  background-color:#5e2491 !important;
  border-radius: 50%;
  color: #fff;
  height: 32px;
  line-height: 32px;
  text-align: center;
  width: 32px;
  display: inline-block;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.footer-social li .facebook:hover {
  background-color: #3b5998;
}

.footer-social li .twitter:hover {
  background-color: #55acee;
}

.footer-social li .linkedin:hover {
  background-color: #007bb5;
}

.footer-social li .google-plus:hover {
  background-color: #dd4b39;
}

#copyright {
  background-color: #ffffff;
  padding: 20px 0 10px;
  border-top: 1px solid #eaeaea;
  color: #546E7A;
}

#copyright p {
  margin-bottom: 0;
  line-height: 40px;
}

#copyright p a {
  color: #546E7A;
}

#copyright p a:hover {
  color: #273bba;
}

#copyright .nav-inline .nav-link {
  color: #546E7A;
  padding: 10px 0;
  margin-left: 10px;
}

#copyright .nav-inline .nav-link:hover {
  color: #273bba;
}
