<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="container">

      <div class="center-form panel">
        <div class="panel-body">
          <h4 class="text-center"><span class="lni-enter"></span> Login</h4>

          <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="email" placeholder="Email" formControlName="email">
              <span class="lni-user form-control-icon"></span>
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" name="password" placeholder="Password" formControlName="password">
              <span class="lni-key form-control-icon"></span>
            </div>

            <button type="submit" class="btn btn-block btn-success"> Login</button>

            <p class="text-center">
              <small>Nog geen account?<a routerLink="/signup">Meld je aan!</a></small>

            </p>

          </form>

        </div>
      </div>

    </div>

  </div>
  <section>

