<section class="video-promo section">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="video-promo-content text-center">
              <a href="{{ 'VIDEOPROMOTION.VIDEOLINK' | translate }}" class="video-popup"><i class="lni-film-play"></i></a>
              <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">{{ 'VIDEOPROMOTION.TITLE' | translate }}</h2>
              <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">{{ 'VIDEOPROMOTION.SUBTITLE' | translate }}</p>
            </div>
        </div>
      </div>
    </div>
  </section>
