/* ==========================================================================
  Video promo Style
  ========================================================================== */
.video-promo {
  background: url(../../../assets/img/bg/video.jpg);
  position: relative;
}

.video-promo .video-promo-content {
  color: #fff;
}

.video-promo .video-promo-content .video-popup {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
  font-size: 26px;
}

.video-promo .video-promo-content h2 {
  margin-top: 30px;
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}

.video-promo .video-promo-content p {
  color: #fff;
}
