ul li {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-left:10px;
  display:inline;
}

.oawidget{
  height: 1050px;
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  background: white;
}

iframe{
  display: table;
  margin: 0 auto;
}

img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  -moz-transition: all 2.3s;
  -webkit-transition: all 2.3s;
  transition: all 2.3s;

}
img:hover{
  max-height: 400px;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}

.content{
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
  background: white;
}

li:hover{
  background-color: black;
}

.container-fluid{
  padding:0;
  width:100%;
  background: white;
}

.squares{
  margin: auto;
  width: 90%;
  max-width: 90%;
  padding:10px;
}
.row{
  margin: auto;
  width: 90%;
  max-width: 90%;
}
.col-md-6{
  width: 50%;
  margin-bottom: 5px;
  background:lightgrey;
}
.col-md-12{
  padding:0;
  width: 100%;
  background:yellow;
  position: relative;
  overflow: hidden;
}
