<div class="container-fluid">
  <div class="col-md-12">
    <img src="../../../../assets/img/download.jpeg">
  </div>
  <div class="squares">
    <div class="row">
      <div class="col-md-6">
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
      </div>
      <div class="col-md-6">
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
       lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
      </div>
      <div class="col-md-6">
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
        lorem ipsum dolorlorem ipsum dolorlorem ipsum dolorlorem ipsum dolor lorem ipsum dolor
      </div>
    </div>
  </div>
  <div class="oawidget">
    <iframe src="https://widget.onlineafspraken.nl/consumer/booking/book/key/mkah17wkwc47-ekaz07/at/0/rs/0/st/0/ln/3/css/https%3A@2F@2Fs3-eu-west-1.amazonaws.com@2Fcloud.vr-cade.nl@2Fassets@2Fcss@2Fonlineafspraken.css/l/21111/t/3bc/f/110d0111/s/550_950/o/theme:default,dp:modern,interval:week/exclude/mobiledetect/output/html" frameborder="0" scrolling="no" width="550" height="1500"></iframe>
  </div>
    <div class="col-md-12">
      <img src="../../../../assets/img/download.jpeg">
    </div>
</div>
