<div class="counters section bg-defult">
    <div class="container">
      <div class="row"> 
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item"> 
            <div class="icon">
              <i class="lni-rocket"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">100</span>%</h3>
              <h4>Faster</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item">
            <div class="icon">
              <i class="lni-coffee-cup"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">700</span></h3>
              <h4>Cup of Coffee</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item">
            <div class="icon">
              <i class="lni-user"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">10000</span>+</h3>
              <h4>Active Clients</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-3">
          <div class="facts-item">
            <div class="icon">
              <i class="lni-heart"></i>
            </div>                
            <div class="fact-count">
              <h3><span class="counter">1689</span></h3>
              <h4>Peoples Love</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>