/* ==========================================================================
 Counter Section Style
 ========================================================================== */
.counters {
  /* background: url(assets/img/bg/bg-counter.jpg) fixed; */
  position: relative;
}

.counters .facts-item {
  text-align: center;
  color: #fff;
  border: 1px dotted #fff;
  border-radius: 4px;
  padding: 30px;
}

.counters .facts-item .icon {
  margin-bottom: 15px;
}

.counters .facts-item .icon i {
  font-size: 40px;
  color: #fff;
}

.counters .facts-item .fact-count h3 {
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  line-height: 40px;
}

.counters .facts-item .fact-count h4 {
  font-size: 15px;
  color: #fff;
  margin-bottom: 0;
}

.counter-item {
  text-align: center;
  padding: 30px;
  background: #f9f9f9;
  border: 1px solid #eaeaea;
  margin: 15px 0;
}

.counter-item .icon {
  margin-bottom: 20px;
}

.counter-item .icon i {
  font-size: 40px;
  color: #273bba;
}

.counter-item .fact-count h3 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}

.counter-item .fact-count h4 {
  font-size: 18px;
  margin-bottom: 0;
}
