<section id="team" class="section">
    <div class="container">
      <div class="section-header">
        <app-sectiontitle
          mainTitle="{{ 'TEAM.TITLE' | translate }}"
          subTitle="{{ 'TEAM.SUBTITLE' | translate }}"
          description="{{ 'TEAM.DESCRIPTION' | translate }}"></app-sectiontitle>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-xs-12 center-div">
          <div class="single-team" (click)="openDialog('SJOUKE')">
            <img src="{{'TEAM.PERSON1.PICTURE' | translate}}" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">{{'TEAM.PERSON1.NAME' |translate}}</h4>
                <p>{{'TEAM.PERSON1.JOBTITLE' |translate}}</p>
                <ul class="social-list">
                  <li class="facebook"><a href="{{'TEAM.PERSON1.FACEBOOK' |translate}}"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="{{'TEAM.PERSON1.TWITTER' |translate}}"><i class="lni-twitter-filled"></i></a></li>
                  <li class="linkedin"><a href="{{'TEAM.PERSON1.LINKEDIN' |translate}}"><i class="lni-linkedin-fill"></i></a></li>
                  <li class="instagram"><a href="{{'TEAM.PERSON1.LINKEDIN' |translate}}"><i class="lni-instagram-filled"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-xs-12 center-div" >
          <div class="single-team" (click)="openDialog('LODEWIJK')">
            <img src="{{'TEAM.PERSON2.PICTURE' | translate}}" alt="">
            <div class="team-details">
              <div class="team-inner">
                <h4 class="team-title">{{'TEAM.PERSON2.NAME' |translate}}</h4>
                <p>{{'TEAM.PERSON2.JOBTITLE' |translate}}</p>
                <ul class="social-list">
                  <li class="facebook"><a href="{{'TEAM.PERSON2.FACEBOOK' |translate}}"><i class="lni-facebook-filled"></i></a></li>
                  <li class="twitter"><a href="{{'TEAM.PERSON2.TWITTER' |translate}}"><i class="lni-twitter-filled"></i></a></li>
                  <li class="linkedin"><a href="{{'TEAM.PERSON2.LINKEDIN' |translate}}"><i class="lni-linkedin-fill"></i></a></li>
                  <li class="instagram"><a href="{{'TEAM.PERSON2.LINKEDIN' |translate}}"><i class="lni-instagram-filled"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
