.container {
  width:100%;
  margin: 300px auto;
  padding-left: 15px;
  padding-right: 15px;
}

ul li {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-left:10px;
  display:inline;

}

li:hover{
  background-color: black;
}
