<section class="testimonial section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="testimonials" class="touch-slider owl-carousel">
          <div class="item">
            <div class="testimonial-item">
              <div class="author">
                <div class="img-thumb">
                  <img src="img/testimonial/img1.jpg" alt="">
                </div>
                <div class="author-info">
                  <h2><a href="#">Johnathan Doe</a></h2>
                  <span>Marketing Head Matrix media</span>
                </div>
              </div>
              <div class="content-inner">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star"></i></span>
                <span><i class="lni-star"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="author">
                <div class="img-thumb">
                  <img src="img/testimonial/img2.jpg" alt="">
                </div>
                <div class="author-info">
                  <h2><a href="#">Oidila Matik</a></h2>
                  <span>President Lexo Inc</span>
                </div>
              </div>
              <div class="content-inner">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="author">
                <div class="img-thumb">
                  <img src="img/testimonial/img3.jpg" alt="">
                </div>
                <div class="author-info">
                  <h2><a href="#">- Alex Dattilo</a></h2>
                  <span>CEO Optima Inc</span>
                </div>
              </div>
              <div class="content-inner">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="author">
                <div class="img-thumb">
                  <img src="img/testimonial/img2.jpg" alt="">
                </div>
                <div class="author-info">
                  <h2><a href="#">Oidila Matik</a></h2>
                  <span>President Lexo Inc</span>
                </div>
              </div>
              <div class="content-inner">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-item">
              <div class="author">
                <div class="img-thumb">
                  <img src="img/testimonial/img1.jpg" alt="">
                </div>
                <div class="author-info">
                  <h2><a href="#">- Alex Dattilo</a></h2>
                  <span>CEO Optima Inc</span>
                </div>
              </div>
              <div class="content-inner">
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quidem, excepturi facere magnam illum, at accusantium doloremque odio.</p>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star-filled"></i></span>
                <span><i class="lni-star"></i></span>
                <span><i class="lni-star"></i></span>
                <span><i class="lni-star"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
