<section id="google-map-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 padding-0">
          <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed/v1/place?q=stationsplein%2068%20haarlem&key=AIzaSyBeOETnIi-XTqTZgGlQQENRIx1HodCK1tg"></object>
        </div>
      </div>
    </div>
  </section>
